body {
  margin: 0;
  font-family: 'ヒラギノ角ゴシック';
}
.containerMain {
  margin: 0;
  /* text-align: center; */
}

.mail-img {
  width: 35px;
  margin-top: 30px;
  cursor: pointer;
  background: url('../image/icon/mail.png') no-repeat;
  /* background-size: 25px 17px; */
}
.mail-img2 {
  width: 35px;
  margin-top: 38px;
  cursor: pointer;
  background: url('../image/icon/diandiandian.png') no-repeat;
}
.pc-header {
  height: 165px;
}
.pc-header,
.phone-header {
  position: fixed;
  top: -4px;
  width: 100%;
  background: #ededed;
  z-index: 9;
}
.phone-header {
  height: 168px;
}
.body-content {
  margin-top: 165px;
  height: 100%;
  /* margin-bottom: 30px; */
  text-align: center;
}
.notice-card {
  margin-top: 40px;
}
.pc-footer {
  /* background: black; */
  /* position: fixed; */
  width: 100%;
  bottom: -4px;
  z-index: 9999;
  margin-top: 10px;
  text-align: center;
}
.back-top {
  /* display: block; */
  text-align: right;
  /* background: black; */
  position: fixed;
  width: 13%;
  bottom: 30px;
  right: 0px;
  z-index: 98;
  margin-top: 20px;
}
/* 手机 */
.ph-menu-area {
  width: 100%;
  overflow: auto;
  background-color: #efeff4;
  margin-top: -5px;
}
.ph-menu-area::-webkit-scrollbar {
  display: none;
}
.ph-menu {
  width: 150%;
  display: flex;
  padding: 0;
}
.ph-menu li {
  display: inline;
  margin: 0 18px;
  font-weight: 700;
  display: flex;
  position: relative;
}
.item-active::before {
  display: inline-block;
  position: absolute;
  content: '';
  border: 1px solid red;
  width: 90%;
  left: 50%;
  margin-top: 25px;
  margin-right: 20px;
  transition: 0.5s;
  transform: translateX(-50%);
}
.ph-menu li:hover {
  color: red;
  cursor: pointer;
}
.phone-body-content {
  margin-top: 168px;
  height: 100%;
  margin-bottom: 30px;
  padding: 10px;
}

/* 手机PC切换 */
@media screen and (min-width: 992px) {
  .phone-header,
  .phone-body-content {
    display: none;
  }
  body,
  .containerMain {
    background: #ededed !important;
  }
}
@media screen and (max-width: 991px) {
  .pc-header,
  .body-content,
  .back-top,
  .pc-footer,
  #app {
    display: none;
  }
  body,
  .containerMain {
    background: #efeff4 !important;
  }
  .ph-header-img {
    width: 100%;
    height: 120px;
  }
  .ph-img1 {
    width: 100%;
  }
  .ph-img2 {
    width: 40%;
  }
  .phone-submenu{
    border-radius: 10px;
    height: 82%;
    width: 100%;
    /* margin-left: 1%; */
    position: fixed;
    box-shadow: 2px 2px 6px 2px #cdcdcd;
    display: flex;
    color: #606060;
  }
  /* 手机二级菜单 */
  .submenu-left{
    border-radius: 10px 0 0 10px;
    background:#ededed;
    flex: 4;
    padding: 0;
    

  }
  .submenu-right{
    border-radius: 0 10px 10px 0;
    background:white;
    flex: 6;
    overflow: auto;
    
  }
  .submenu-left ul{
    padding-left: 0px;
    margin-top: 0;
  }
  .submenu-left li{
    height: 50px;
    line-height: 50px;
    list-style-type:none
  }
  .submenu-left-action,
  .submenu-left li:active,
  .submenu-left li:hover{
    background: white;
  }
  .submenu-left-action:nth-child(1),
  .submenu-left li:nth-child(1):active,
  .submenu-left li:nth-child(1):hover{
    border-radius: 10px 0 0 0;
  }
  .left-levevl2{
    margin-left: 20px;
    font-weight: 700;
  }
  .submenu-right ul li{
    margin-top: 5px;
  }
  .right-level2{
    line-height: 30px;
    display: flex;
    margin:5px 0;
    flex-flow: wrap;
  }
  .level2-item{
    padding: 10px;
    width: auto;
    border-radius: 8px;
    height: 60px;
    line-height: 39px;
    color: #d31328;
    margin: 10px;
    border: 1px solid #d31328;
    text-align: center;
    cursor: pointer;
  }
  .is-active,
  .level2-item:hover,
  .level2-item:active{
    background-color: #d31328;
    color: white;
  }
  .long{
    min-width: 100px;
    max-width: 109px;
    line-height: 20px;
  }
}

.imgcli {
  display: none;
}
.clock {
  font-size: 0.9rem;
  margin-right: 7px;
  float: right;
  font-family: math;
  display: flex;
  margin-top: 10px;
  color: #898989;
}
.clock-font{
  line-height: 17px;
  margin-left: 10px;
  font-family: Arial Unicode MS;

}
.steps-block{
  position: fixed;
  top: 165px;
  right: 154px;
}
.steps-block-2{
  position: fixed;
  top: 159px;
  display: flex;
  justify-content: center;
  width: 100%;
  background:#ededed;
  z-index: 99;
}