/* .autocomplete-container {
  position: absolute;
  height: 50px;
  width: 220px;
  top: 10px;
  right: 280px;
  font-size: 13px;
} */
.autocomplete-container {
  height: 50px;
  width: 240px;
  font-size: 13px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.autocomplete {
  display: flex;
}

input,
button,
ul,
li {
  /* font-family: "Meiryu UI"; */
}

.autocomplete-input {
  background: #ededed;
  border: none;
  border-bottom: 1px solid #bebebe;
  width: 99%;
  padding: 12px 8px 8px 26px;
  flex: 1;
  background: url(../image/icon/search-icon.png) no-repeat;
  background-size: 16px 14px;
  background-position: 2px 12px;
}
.autocomplete-input::-webkit-input-placeholder{
  color: #afafaf;
}

.autocomplete-submit {
  border: 1px solid #1c5b72;
  padding: 8px 16px;
  background: #1c5b72;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autocomplete-submit svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.autocomplete-results {
  position: absolute;
  margin-top: -1px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  padding: 4px 0;
  /* width: 100%; */
  width: 220px;
  z-index: 1;
  background: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: none;
}

.autocomplete-result {
  cursor: default;
  padding: 4px 8px;
}

.autocomplete-result:hover {
  background: rgba(0, 0, 0, 0.12);
}

.autocomplete-result.selected {
  background: rgba(0, 0, 0, 0.12);
}

.search-result {
  margin-top: 64px;
  text-align: center;
}
.text-right{
  text-align: right;
}
.hidden {
  display: none;
}