.backButton {
  text-align: right;
  background-color: #d31328;
  border: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


.font {
  position: fixed;
  background-image: url(../image/icon/AA-white.png);
  text-align: right;
  right: 0;
  z-index: 98;
}

.toTop {
  background-image: url(../image/icon/to-top-big.png);
  background-size: 20px 25px;
  height: 60px;
}

.logout {
  background-image: url(../image/icon/logout-white.png);
}
.help{
  border-radius: 0 0 0 40%;
  background-image: url(../image/icon/help.png);

}

.blockDiv {
  height: 60px;
}

.backButton:hover ~ .input {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.botHand{
  background-image: url(../image/icon/icon-hand.png);
  background-repeat: no-repeat;
  background-position: center;
  
}
.botButton{
  border-radius: 40% 0 0 0;
  background-image: url(../image/icon/robot-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  
}
.searchButton{
  background-image: url(../image/icon/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.botHand,
.botButton,
.searchButton {
  background-color: #d31328;
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  color: white;
  transition: all 0.5s;
  letter-spacing: 0.1em;
  padding: 0;
}
.botHand:hover,
.searchButton:hover,
.botButton:hover {
  cursor: pointer;
  transition: all 0.5s;
}
.searchButton:focus {
  padding-left: 20px;
  font-size: 1.2rem;
  border-radius: 15px 0 0 15px;
  width: 200px;
  opacity: 1;
  cursor: text;
  background-image: none;
  transition: all 0.5s;
}
.searchButton::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.fontsize {
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  padding-right: 50px;
}
.fontsize b{
  flex:1;
}

.font:hover {
  border-radius: 15px 0 0 15px;
  background-image: none;
  width: 200px;
  transition: all 0.5s;
}

.font:hover .fontsize {
  opacity: 1;
  transition: all 0.5s;
}
