.underline {
  width: 100%;
  height: 3px;
  background: #d31328;
}
.subtitle {
  font-size: 18px;
  /* font-weight: bolder; */
  color: #d31328;
  display: block;
}
.minortitle {
  display: block;
  font-size: 14px;
  font-weight: bolder;
  color: black;
  padding: 20px 5px 5px 0px;
  /* zoom: 1; */
}

.sf-menu > li > a {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #525252;
}

.sf-with-ul {
  /* color: #626262; */
}

.sf-menu a {
  padding: 10px 0;
  text-decoration: none;
  zoom: 1;
}

.sf-menu ul a {
  color: #7c7b7b;
  margin-left: 10px;
}

.underline {
  width: 100%;
  height: 4px;
  background: #d31328;
  margin-top: 5px;
  margin-bottom: 20px;
}

.row {
  background-color: #eeeeee00;
  height: 100%;
}

.bordered_items .sf-menu > li > a {
  padding-right: 25px;
  padding-left: 25px;
  font-size: 17px;
  font-family: "Meiryo UI";
}

.sf-menu ul a:hover,
.sf-menu ul li.active > a {
  color: #d31328;
}
