a {
  color: black;
  text-decoration: none;
}

.col-sm-offset-4 {
  margin-left: 23%;
}

@media (min-width: 992px) {
  .page_header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page_header .menu-container .theme_button {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
}

/*
**main menu mobile styles
*/
@media (max-width: 991px) {
  .mainmenu_wrapper {
    /*position: relative;*/
    position: fixed;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .mobile-active .mainmenu_wrapper {
    visibility: visible;
    opacity: 1;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .toggle_menu {
    display: block;
  }

  .toggle_menu.mobile-active {
    background-color: #323232;
    border: none;
    left: auto;
    top: 0;
    right: 0;
    position: fixed;
    margin: 0;
    z-index: 3000;
  }

  .toggle_menu.mobile-active:after {
    position: absolute;
    top: 14px;
    left: 10px;
    /* font-family: "Meiryo UI"; */
    content: "\e117";
    font-size: 40px;
    color: #ffffff;
  }

  .toggle_menu.mobile-active span {
    display: none;
  }

  .nav-justified > li > a {
    text-align: left;
  }

  .sf-menu {
    position: fixed;
    overflow: auto;
    background-color: #323232;
    padding: 10px 20px 10px 10px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 100%;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    opacity: 0;
  }

  .mobile-active .sf-menu {
    opacity: 1;
    right: 20px;
  }

  .sf-menu > li > a,
  .sf-menu a {
    color: #ffffff;
  }

  .sf-menu ul {
    list-style: none;
    padding-left: 10px;
  }

  .sf-menu ul li a {
    display: block;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    text-transform: none;
    color: black;
    /* font-family: "Meiryo UI"; */
  }

  .sf-menu ul li a:before {
    content: "-";
    padding-right: 5px;
  }

  .sf-menu ul ul li a:before {
    content: "--";
    padding-right: 5px;
  }
  /*** arrows (for all except IE7) **/
  .sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em;
    /* no CSS arrows for IE7 (lack pseudo-elements) */
  }
  /* styling for both css and generated arrows */
  .sf-arrows .sf-with-ul:after {
    /* font-family: "FontAwesome"; */
    content: "\f107";
    position: absolute;
    right: 1.44em;
    height: 0;
    width: 0;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .sf-menu .md-hidden {
    display: none;
  }
}

@media (max-width: 991px) {
  #more-li {
    display: none;
  }
}

.sf-menu i[class] {
  padding-right: 7px;
  font-size: 1.1em;
}

/* Mega Menu */
.mega-menu li > ul {
  border-bottom: none;
}

@media screen and (min-width: 992px) {
  .mainmenu_wrapper ul .mega-menu ul {
    min-width: auto;
  }

  .mainmenu_wrapper .menu-item-has-mega-menu {
    position: relative;
  }

  .mainmenu_wrapper .mega-menu {
    display: none;
    position: absolute;
    width: 940px;
    top: 100%;
    z-index: 10;
  }

  .mainmenu_wrapper .menu-item-has-mega-menu:hover .mega-menu {
    display: block;
  }
  /* row */
  .mainmenu_wrapper .mega-menu-row {
    position: static;
    display: table;
    table-layout: fixed;
  }

  .mainmenu_wrapper .mega-menu-row ul {
    position: static;
    display: block;
  }
  /* column */
  .mainmenu_wrapper .mega-menu-col {
    display: table-cell;
    /* width: 1000px; */
    padding: 0 20px;
    /* border-left: 1px solid #e1e1e1; */
    /* overrides from settings / styling / mega-menu */
  }

  .mainmenu_wrapper .mega-menu-col > a {
    text-transform: uppercase;
    font-weight: 700;
  }

  .mainmenu_wrapper .mega-menu-col:first-child {
    border-left: none;
  }

  .mainmenu_wrapper ul ul .mega-menu {
    width: auto;
    top: -20px;
    margin-left: 1px;
    display: block;
    width: auto;
  }

  .mainmenu_wrapper ul ul .mega-menu li {
    display: block;
    width: auto;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .mainmenu_wrapper .mega-menu {
    width: 1160px;
  }

  .mainmenu_wrapper ul .mega-menu ul {
    min-width: 12em;
  }
}

@media screen and (max-width: 991px) {
  .mainmenu_wrapper .mega-menu {
    position: static;
  }
}

/*
**main menu (min 992px) styles
*/
.sf-menu a {
  /* font-family: "Meiryo UI"; */
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  /* color: #aab9cd; */
}

.sf-menu > li > a {
  font-size: 14px;
}

@media (min-width: 992px) {
  /* menu layout */
  .sf-menu,
  .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sf-menu li {
    position: relative;
  }

  .sf-menu li > ul {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 99;
  }

  .sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
    display: block;
  }

  .sf-menu a {
    display: block;
    position: relative;
  }

  .sf-menu li > ul > li > ul {
    top: -21px;
    left: 100%;
  }

  .sf-menu li > ul > li:first-child > ul {
    top: -21px;
  }
  /* menu skin */
  .sf-menu a {
    padding: 12px 0;
    text-decoration: none;
    zoom: 1;
    /* IE7 */
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
  }

  .sf-menu li {
    white-space: nowrap;
    /* no need for Supersubs plugin */
    *white-space: normal;
    /* ...unless you support IE7 (let it wrap) */
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
  }

  .sf-menu > li {
    display: inline-block;
    position: relative;
    margin: 0 -2px;
  }

  .sf-menu > li:last-child {
    margin-right: 0;
  }

  .sf-menu > li:first-child {
    margin-left: 0;
  }

  .sf-menu > li > a {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .page_toplogo + .page_header_wrapper .sf-menu > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .theme_header .sf-menu > li > a {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .sf-menu > li > a:hover,
  .sf-menu > li.active > a {
    color: #d31328;
  }

  .bordered_items .sf-menu > li {
    padding: 0;
  }

  .bordered_items .sf-menu > li:before,
  .bordered_items .sf-menu > li:last-child:after {
    content: "";
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .bordered_items .sf-menu > li:last-child:after {
    right: 0;
    left: auto;
  }

  .theme_header.bordered_items .sf-menu {
    text-align: right;
  }

  .theme_header.bordered_items .sf-menu > li:before,
  .theme_header.bordered_items .sf-menu > li:last-child:after {
    content: "";
    width: 1px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.12);
  }

  .theme_header.bordered_items .sf-menu > li:last-child:after {
    right: 0;
    left: auto;
  }

  .header_white .sf-menu > li > a {
    color: #323232;
  }

  .header_white .sf-menu > li > a:hover,
  .header_white .sf-menu > li.active > a {
    color: #d31328;
  }

  .header_white .sf-menu > li + li:before {
    background-color: #e1e1e1;
  }

  .header_darkgrey .sf-menu > li > a {
    color: #ffffff;
  }

  .header_darkgrey .sf-menu > li > a:hover,
  .header_darkgrey .sf-menu > li.active > a {
    color: #d31328;
  }

  .header_gradient .sf-menu > li > a,
  .page_header.cs .sf-menu > li > a {
    color: #333333;
  }

  .header_gradient .sf-menu > li > a:hover,
  .header_gradient .sf-menu > li.active > a,
  .page_header.cs .sf-menu > li > a:hover,
  .page_header.cs .sf-menu > li.active > a {
    color: red;
  }

  .page_header.main_color2 .sf-menu > li > a:hover,
  .page_header.main_color2 .sf-menu > li.active > a {
    color: #d31328;
  }

  .sf-menu li:hover,
  .sf-menu li.sfHover {
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
  }
  /* second and next levels */
  .sf-menu > li .mega-menu,
  .sf-menu li > ul {
    margin-top: 10px;
    text-align: left;
    list-style: none;
    padding: 20px 0;
    background-color: #ffffff;
    min-width: 12em;
    /* allow long menu items to determine submenu width */
    *width: 12em;
    /* no auto sub width for IE7, see white-space comment below */
    /* border-bottom: 4px solid #d31328; */
  }

  .sf-menu ul a {
    color: #aab9cd;
    padding-left: 40px;
    padding-right: 40px;

    /* color: #7c7b7b; */
    margin-left: 10px;
  }

  .sf-menu .mega-menu ul {
    box-shadow: none;
    padding: 0;
  }

  .sf-menu .mega-menu ul a {
    padding-left: 0;
    padding-right: 0;
  }

  .sf-menu ul a:hover,
  .sf-menu ul li.active > a {
    /* color: #d31328; */
  }
  /* third level */
  .sf-menu ul ul {
    margin-top: 0;
    margin-left: 1px;
  }
  /*** arrows (for all except IE7) **/
  /* styling for both css and generated arrows */
  /*top menu level*/
  /* styling for right-facing arrows */
}

/* common paddings */
@media (min-width: 992px) {
  .sf-menu > li > a {
    padding-left: 2px;
    padding-right: 0px;
  }

  .bordered_items .sf-menu > li > a {
    padding-right: 48px;
    padding-left: 48px;
  }
}

/* -md- paddings */
@media (min-width: 992px) and (max-width: 1199px) {
  .sf-menu > li > a {
    padding-left: 9px;
    padding-right: 8px;
  }

  .bordered_items .sf-menu > li > a {
    padding-right: 19px;
    padding-left: 19px;
  }
}

/* -lg- paddings */
@media (min-width: 1200px) {
  .sf-menu > li > a {
    padding-left: 18px;
    padding-right: 18px;
  }

  .boxed .col-md-6 .sf-menu > li > a {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (min-width: 1400px) {
  .sf-menu > li > a {
    padding-left: 19px;
    padding-right: 13px;
  }
}

.mainmenu_side_wrapper ul ul,
.mainmenu_side_wrapper .mega-menu {
  height: 0;
  overflow: hidden;
}

.mainmenu_side_wrapper ul li.sfHover > .mega-menu ul {
  display: block;
  height: 100%;
}

.mainmenu_side_wrapper .mega-menu > ul {
  height: auto;
}
