<header
  class="bordered_items columns_padding_0 toggle_menu_right not_hide_menuitems with_top_border"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 text-right">
        <div class="menu-container">
          <!-- main nav start -->
          <nav class="mainmenu_wrapper">
            <ul class="mainmenu nav sf-menu">
              <li class="">
                <a href="home.html">トップ</a>
              </li>
              <li>
                <a href="">投資情報</a>
              </li>
              <li>
                <a>取引</a>
                <div class="mega-menu">
                  <ul class="mega-menu-row">
                    <li class="mega-menu-col">
                      <b class="subtitle">株式</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <b class="minortitle">現物注文</b>
                        </li>
                        <li>
                          <a href="trade.html">現物買い</a>
                        </li>
                        <li>
                          <a href="">現物売り</a>
                        </li>
                        <li>
                          <b class="minortitle">信用注文</b>
                        </li>
                        <li>
                          <a href="">信用新規</a>
                        </li>
                        <li>
                          <a href="">信用返済，現引・現渡</a>
                        </li>
                        <li>
                          <b class="minortitle">単元未満株注文</b>
                        </li>

                        <li>
                          <a href="">単元未満株買い</a>
                        </li>
                        <li>
                          <a href="">単元未満株売り</a>
                        </li>
                        <li>
                          <b class="minortitle">注文照会</b>
                        </li>
                        <li>
                          <b class="minortitle">注文取消，訂正</b>
                        </li>
                      </ul>
                    </li>
                    <li class="mega-menu-col">
                      <b class="subtitle">IPO / PO</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <a href="">IPO/PO 注文</a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega-menu-col">
                      <b class="subtitle">投資信託</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <b class="minortitle">投資信託注文</b>
                        </li>
                        <li>
                          <a href="">投資信託買い</a>
                        </li>
                        <li>
                          <a href="">投資個託売り</a>
                        </li>
                        <li>
                          <b class="minortitle">注文照会・取消</b>
                        </li>
                        <li>
                          <b class="minortitle">投資信託積立サービス</b>
                        </li>
                        <li>
                          <a href="">積立設定</a>
                        </li>
                        <li>
                          <a href="">設定照会・変更・解除</a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega-menu-col">
                      <b class="subtitle">先物・オプション</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <a href="">取引ツール</a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega-menu-col">
                      <b class="subtitle">取引ツールダウンロード</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <a href="">取引ツールダウンロード</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a>資産状況</a>
                <div class="mega-menu">
                  <ul class="mega-menu-row">
                    <li class="mega-menu-col">
                      <b class="subtitle">資產状況</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <b class="minortitle">お預り資產</b>
                        </li>
                        <li>
                          <a href="assets.html">預り資產</a>
                        </li>
                        <li>
                          <a href="">買付余力</a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega-menu-col">
                      <b class="subtitle">過去のお取引</b>
                      <p class="underline" />
                      <ul>
                        <li>
                          <b class="minortitle">株式注文履歴</b>
                        </li>
                        <li>
                          <b class="minortitle">株式約定履歷</b>
                        </li>
                        <li>
                          <b class="minortitle">信用決済履歷</b>
                        </li>
                        <li>
                          <b class="minortitle">入出金履歷</b>
                        </li>
                        <li>
                          <b class="minortitle">譲渡益税屁歴</b>
                        </li>
                        <li>
                          <b class="minortitle">課税对象配当金履歷</b>
                        </li>
                        <li>
                          <b class="minortitle">投資信託注文履歷</b>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="">入出金・振替</a>
              </li>
              <li>
                <a href="">口座情報</a>
              </li>
            </ul>
          </nav>
          <!-- eof main nav -->
          <span class="toggle_menu">
            <span></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
